<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auremo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Auremo.Properties.Settings>
            <setting name="EnableVolumeControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6600</value>
            </setting>
            <setting name="ReconnectInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ViewUpdateInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="VolumeAdjustmentStep" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MouseWheelAdjustsSongPositionPercentBy" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MouseWheelAdjustsSongPositionSecondsBy" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MouseWheelAdjustsSongPositionInPercent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitialSetupDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlbumSortingMode" serializeAs="String">
                <value>ByDate</value>
            </setting>
            <setting name="AlbumDateFormats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>YYYY</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="QuickSearchTabIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArtistListTabIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArtistTreeTabIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenreListTabIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenreTreeTabIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilesystemTabIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StreamsTabIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaylistsTabIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultMusicCollectionTab" serializeAs="String">
                <value>SearchTab</value>
            </setting>
            <setting name="SendToPlaylistMethod" serializeAs="String">
                <value>Append</value>
            </setting>
            <setting name="NetworkTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AdvancedTabIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAlbumArtist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowW" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="WindowH" serializeAs="String">
                <value>590</value>
            </setting>
        </Auremo.Properties.Settings>
    </userSettings>
</configuration>